<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  {% if crate::utils::is_dev() %}
  <script src="https://cdn.tailwindcss.com"></script>
  {% else %}
  <link href="assets/tailwind.css" rel="stylesheet">
  {% endif %}

  <link rel="stylesheet" href="assets/base.css">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  {% block body %}{% endblock body %}
</body>

</html>